
<div class="home-container">

    <app-card
     gameCover = "assets/bg3.jpg"
      gameLabel="JOGO BASE"
      gameType="PS5 / JOGO BASE"
      gamePrice="R$ 299,90"
      ></app-card>
    <app-card
     gameCover = "assets/eldenRing.jfif"
      gameLabel="OFERTA"
      gameType="PS4/PS5"
      gamePrice="R$197,93"
      ></app-card>
      <app-card
     gameCover = "assets/acm.png"
      gameLabel="STANDARD EDITION"
      gameType="PS4/PS5"
      gamePrice="R$239,90"
      ></app-card>
</div>
