<div class="menu-bar-container">

    <div class="menu-bar-logo">
        <img src="assets\ps-logo.png" width="140px" height="32px" alt="">

    </div>
    <div class="menu-bar-item">
        <ul>
            <li><a href="https://www.youtube.com/channel/UCNIN9NidPPi8tuJjf8_pK0Q">YOUTUBE</a></li>
            <li><a href="https://www.linkedin.com/in/josé-marcos-nogueira-faria-a8210499">LINKEDIN</a></li>
            <li><a href="https://github.com/JoseMarcosNF">GITHUB</a></li>
        </ul>
    </div>

</div>
